*{
    margin: 0px;
    padding: 0px;
}
.test{
    color: aqua;
}
.container{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    height: 150px;
}
.box{
    padding: 20px;
    background-color: red;
    width: 150px;
}
.box2{
    background-color: green;
}
.box3{
    background-color: blue;
}